:root {
  --aero-blue: #5fb2d0;
  --light-cyan: #d7f8f7;
  --ghost-white: #f4fcff;
  --darker-blue: #079fb3;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  text-shadow: 0.2px 0.2px #c2c2c2;
  padding: 0 20px;
  background: #5fb2d0;
  background: linear-gradient(8deg, #5fb2d0 0%, #f4fcff 100%);
}

@media screen and (min-width: 450px) {
  body {
    background: rgb(95, 178, 208);
    background: linear-gradient(
      8deg,
      rgba(95, 178, 208, 1) 0%,
      rgba(244, 252, 255, 1) 100%
    );
  }
}
